name: Build

on: push

env:
  # renovate datasource=github-releases depName=timescale/timescaledb
  TIMESCALE_VERSION: 2.17.1

  # renovate datasource=github-releases depName=timescale/timescaledb-toolkit
  TIMESCALE_TOOLKIT_VERSION: 1.18.0

jobs:
  build:
    name: Build Image (pg${{ matrix.postgres_version }})
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      matrix:
        include:
          - postgres_version: "16"
            # renovate datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
            cnpg_version: 16.4-7
            latest: "true"
          - postgres_version: "15"
            # renovate datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
            cnpg_version: 15.8-6
          - postgres_version: "14"
            # renovate datasource=docker depName=ghcr.io/cloudnative-pg/postgresql
            cnpg_version: 14.13-6
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Get CloudNativePG version
        id: cnpg
        env:
          VERSION: ${{ matrix.cnpg_version }}
        run: |
          {
            echo "version=$VERSION"
            echo "minor=$(cut -d- -f1 <<<"$VERSION")"
            echo "major=$(cut -d. -f1 <<<"$VERSION")"
          } >> $GITHUB_OUTPUT
      - name: Get Timescale version
        id: timescale
        run: |
          {
            echo "version=$TIMESCALE_VERSION"
            echo "minor=$(cut -d. -f-2 <<<"$TIMESCALE_VERSION")"
            echo "major=$(cut -d. -f1 <<<"$TIMESCALE_VERSION")"
          } >> $GITHUB_OUTPUT
      - name: Get Timescale Toolkit version
        id: timescale_toolkit
        run: |
          {
            echo "version=$TIMESCALE_TOOLKIT_VERSION"
            echo "minor=$(cut -d. -f-2 <<<"$TIMESCALE_TOOLKIT_VERSION")"
            echo "major=$(cut -d. -f1 <<<"$TIMESCALE_TOOLKIT_VERSION")"
          } >> $GITHUB_OUTPUT
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/cloudnativepg-timescale
          flavor: latest=false
          tags: |
            type=raw,priority=1000,value=latest,enable=${{ matrix.latest || 'false' }}
            type=raw,priority=999,value=${{ steps.cnpg.outputs.version }}-ts${{ steps.timescale.outputs.version }}
            type=raw,priority=998,value=${{ steps.cnpg.outputs.minor }}-ts${{ steps.timescale.outputs.minor }}
            type=raw,priority=997,value=${{ steps.cnpg.outputs.major }}-ts${{ steps.timescale.outputs.major }}
            type=raw,priority=996,value=${{ steps.cnpg.outputs.version }}
            type=raw,priority=995,value=${{ steps.cnpg.outputs.minor }}
            type=raw,priority=994,value=${{ steps.cnpg.outputs.major }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          pull: true
          push: ${{ github.ref_name == 'main' }}
          platforms: linux/amd64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            POSTGRES_VERSION=${{ matrix.postgres_version }}
            CLOUDNATIVEPG_VERSION=${{ steps.cnpg.outputs.version }}
            TIMESCALE_VERSION=${{ steps.timescale.outputs.version }}
            TIMESCALE_TOOLKIT_VERSION=${{ steps.timescale_toolkit.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  # Summarize matrix https://github.community/t/status-check-for-a-matrix-jobs/127354/7
  build-success:
    name: Build Successful
    runs-on: ubuntu-latest
    needs: build
    if: ${{ always() }}
    steps:
      - if: ${{ contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled') }}
        name: Check matrix status
        run: exit 1
